*{
  box-sizing: border-box;
}
body{
  margin: 0;
  text-align: center;
  height:100%;
  background-color: #0066FF;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
header{
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #0066FF;
  width: 100%;
}
.container{
  opacity:0;
  transform : translate(0, 50px);
  transition: all 1500ms;
}

.container.scrollin{
  opacity: 1;
  transform: translate (0, 0);
}

.top-container a{
  float: left;
  color: white;
  font-size: 30px;
}
.header-right-iphone{
  display: none;
  float:right;
}
.menu-click{
  color: white;
  height: 50px;
}
.menu-list a{
  color: white;
}
.top-wrapper{
  background-color: white;
}
.top-wrapper-inner{
  background-image: url(https://pakutaso.cdn.rabify.me/shared/img/thumb/macbook1989.jpg?d=500);
  background-size: cover;
  position: relative;
  height:600px;
  margin:0;
}
.top-wrapper-inner::before{
  background-color: rgba(0,0,0,0.5);
  content:'';
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
 }
 .top-description{
   opacity:0.9;
 }
 .top-description1 p{
   padding-top: 200px;
   font-size: 40px;
 }
 .top-description p, h3{
   color: white;
 }
 .top-description2{
   font-size: 30px;
 }

.menu-show{
  float: right;
}
.menu-show li{
  float:left;
  padding: 5px;
}
.menu-show a{
  color: white;
}
.introduction{
  background-color: white;
  margin:0;
  height:400px;
}
.heading-intro h2{
  padding-top: 50px;
}
.skill{
  height: 400px;
  color: white;
  background-color: #0066FF;
}
.heading-introheading-skill h2{
  padding-top: 50px;
}
.portfolio{
 height: 300px;
 background-color: white;
}
.port1 h2{
  padding-top: 50px;
}
footer{
  color: white;
  width: 100%;
  height: 5px;
}
.footer-nav{
  float: left;
}
.footer-nav li{
  float: left;
  padding: 0 5px;
}
.footer-nav a{
  color: white;
}
.copyright{
  color: white;
  text-align: right;
}
@media screen and (max-width: 670px){
  .menu-show{
   display: none;
  }

  .header-right-iphone{
    display: block;
  }
  .menu-list{
    display: none;
  }
}
